@model IEnumerable<Model.ViewModel.ProductViewModel>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ads-grid_shop">
    <div class="shop_inner_inf row">
        <div class="left-ads-display col-md-12">
            <div class="wrapper_top_shop">
                <h3>Kết quả tìm kiếm theo từ khoá: @ViewBag.Keyword</h3>
                <div class="product-sec1 row">
                    @foreach (var item in Model)
                    {
                        var link = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                        <div class="col-md-4 product-men">
                            <div class="product-shoe-info shoe">
                                <div class="men-pro-item">
                                    <div class="men-thumb-item">
                                        <img src="@item.Images" alt="@item.Name">
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro">
                                                <a href="@link" class="link-product-add-cart">Xem sản phẩm</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-info-product">
                                        <h4>
                                            <a href="@link">@item.Name </a>
                                        </h4>
                                        <div class="info-product-price">
                                            <div class="grid_meta">
                                                <div class="product_price">
                                                    <div class="grid-price ">
                                                        <span class="money ">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="shoe single-item hvr-outline-out">
                                                <form action="/them-gio-hang?productId=@item.ID&quantity=1" method="post">

                                                    <button type="submit" class="shoe-cart pshoe-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>

                                                    <a href="/them-gio-hang?productId=@item.ID&quantity=1" data-toggle="modal" data-target="#myModal1"></a>
                                                </form>

                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
     </div>
</div>
</div>
        @*<h2>Search</h2>




        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Images)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CateName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CateMetaTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MetaTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Images)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CateName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CateMetaTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MetaTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>*@
